.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryContainer {
    display: grid;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}

@media (max-width: 1000px) {
    .categoryContainer {
        grid-template-columns: 1fr;
    }
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    transition: .5s;
    color: black;
}

.category > h1, p {
    color: var(--ifm-font-color-base);
    transition: .5s;
    text-decoration: none;
}

a {
    color: var(--ifm-font-color-base);
    text-decoration: none;
}

a > p {
    text-decoration: none;
}

a:hover > p {
    text-decoration: none !important;
}

.category:hover > h1, p {
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
}

.category:hover > h1 {
    color: var(--ifm-color-primary);
    text-decoration: none;
}

.category:hover > p {
    color: var(--ifm-color-primary);
    text-decoration: none;
}

.image {
    border-radius: 10px;
    margin-bottom: 2em;
    background-color: var(--ifm-color-primary);
    width: 100%;
    padding: 2em;
}

